$white: #ffffff;
$black: #000000;
$nero-gray: #222222;
$dark-charcoal: #333333;
$stone-cold-gray: #555555;
$baby-powder-green: #FCFEFD;
$mint-cream-green: #F3FBF8;
$teal-green: #09A66D;

$title-weight: 700;
$title-size: 70px;
$title-height: 90px;

$main-text-weight: 400;
$main-text-size: 18px;
$main-text-height: 30px;

$rosario: "Rosario", sans-serif;
$dm-sans: "DM Sans", sans-serif;

$desktop-bp: 1440px;
$tablet-big-bp: 1199px;
$tablet-bp: 991px;
$mobile-bp: 767px;
$smallest-bp: 380px;

$container-width: 1240px;