.customers {
  padding-top: 96px;
  padding-bottom: 75px;
  @media (max-width: $tablet-bp) {
    padding: 50px 0;
  }
  @media (max-width: $mobile-bp) {
    padding: 30px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    @media (max-width: $tablet-big-bp) {
      gap: 0;
    }
    @media (max-width: $mobile-bp) {
      flex-direction: column-reverse;
    }
  }

  &__wrapper {
    width: 55%;
    @media (max-width: $mobile-bp) {
      width: 100%;
    }
  }

  &__img {
    &-wrapper {
      max-width: 500px;
      width: 35%;
      position: relative;
      @media (max-width: $tablet-big-bp) {
        max-width: unset;
        width: 45%;
      }
      @media (max-width: $mobile-bp) {
        width: 90%;
        margin-bottom: 30px;
      }
    }
    &-block {
      position: absolute;
      bottom: 0;
      left: -35px;
      display: flex;
      flex-direction: column;
      max-width: 220px;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 21px;
      padding-right: 35px;
      background-color: $white;
      box-shadow: -15px 15px 25px rgba(0, 96, 60, 0.04);
      border-radius: 12px;
      @media (max-width: $tablet-bp) {
        max-width: 170px;
        left: -20px;
      }
    }
    &-avatars {
      margin-top: 10px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  &__title {
    @include title;
    margin-bottom: 30px;
    @media (max-width: $mobile-bp) {
      margin-bottom: 20px;
    }
  }

  &__review {
    width: 90%;
    min-height: 180px;
    margin-bottom: 40px;
    @media (max-width: $tablet-bp) {
      margin-bottom: 20px;
    }
    @media (max-width: $mobile-bp) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__name {
    width: 40%;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: $nero-gray;
    margin-bottom: 20px;
    @media (max-width: $tablet-big-bp) {
      width: 90%;
    }
    @media (max-width: $tablet-bp) {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    @media (max-width: $mobile-bp) {
      width: 100%;
    }
  }
}

.swiper-slide {
  @media (max-width: $tablet-big-bp) {
    padding-bottom: 50px;
  }
}

.swiper-buttons {
  @media (max-width: $tablet-big-bp) {
    display: flex;
    gap: 20px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 56px;
  height: 56px;
  top: unset;
  bottom: 0;
  &:after {
    display: none;
  }
  @media (max-width: $tablet-big-bp) {
    position: unset;
  }
}

.swiper-button-prev {
  left: 50%;
  transform: rotate(180deg);
  path {
    transform: translate(2px, -2px);
  }
  @media (max-width: $tablet-big-bp) {
    left: 0;
  }
}

.swiper-button-next {
  right: 29%;
  @media (max-width: $tablet-big-bp) {
    right: 0;
    left: 75px;
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  border: 2px solid #CCCCCC;
  border-radius: 50%;

  circle {
    fill: $white;
  }

  path {
    fill: #CCCCCC;
  }
}

