.explore {
  background-color: $mint-cream-green;
  padding-top: 89px;
  padding-bottom: 144px;
  @media (max-width: $tablet-bp) {
    padding: 50px 0;
  }
  @media (max-width: $mobile-bp) {
    padding: 30px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    @media (max-width: $mobile-bp) {
      flex-direction: column-reverse;
      gap: 30px;
    }
  }

  &__wrapper {
    position: relative;
    width: 50%;
    z-index: 1;
    @media (max-width: $mobile-bp) {
      width: 100%;
    }
  }

  &__leaves {
    position: absolute;
    top: -160px;
    left: 70%;
    width: 43.5%;
    max-width: 413px;
    z-index: -1;
    @media (max-width: $tablet-bp) {
      top: -120px;
      right: -50px;
      width: 35%;
    }
    @media (max-width: $mobile-bp) {
      display: none;
    }
  }

  &__img {
    max-width: 600px;
    width: 45%;
    @media (max-width: $mobile-bp) {
      width: 100%;
    }
  }

  &__title {
    @include title;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 50px;
    @media (max-width: $mobile-bp) {
      margin-bottom: 20px;
    }
  }

  &__link {
    @include arrow-link;
    justify-content: flex-start;
  }
}