.footer {
  background-color: $baby-powder-green;
  padding-bottom: 119px;
  @media (max-width: $tablet-bp) {
    padding-bottom: 50px;
  }
  @media (max-width: $mobile-bp) {
    padding-bottom: 30px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    @media (max-width: $tablet-big-bp) {
      column-gap: 50px;
    }
    @media (max-width: $tablet-bp) {
      column-gap: 35px;
    }
    @media (max-width: $mobile-bp) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      column-gap: 20px;
    }
  }

  &__info {
    padding-top: 67px;
    max-width: 345px;
    @media (max-width: $tablet-big-bp) {
      max-width: 25%;
    }
    @media (max-width: $mobile-bp) {
      max-width: 50%;
      padding-top: 50px;
    }

    &-logo {
      width: 70px;
      height: 70px;
      margin-bottom: 30px;
      @media (max-width: $tablet-bp) {
        margin-bottom: 10px;
      }
    }
  }

  &__navigation,
  &__contacts {
    padding-top: 105px;
    max-width: 25%;
    @media (max-width: $mobile-bp) {
      padding-top: 0;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: $nero-gray;
    margin-bottom: 40px;
    @media (max-width: $tablet-bp) {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  &__list {
    @media (max-width: $mobile-bp) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__link,
  &__mail {
    display: block;
    position: relative;
    width: fit-content;
    line-height: 23px;
    margin-bottom: 25px;
    background-image: linear-gradient(
                    to right,
                    $teal-green,
                    $teal-green 50%,
                    $stone-cold-gray 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 6px 0;
    transition: all 0.3s ease-in-out;
    &::before {
      content: '';
      background: $teal-green;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background-position: 0;
    }

    &:hover::before {
      width: 100%;
    }
    @media (max-width: $tablet-bp) {
      margin-bottom: 15px;
    }
  }

  &__mail {
    color: $nero-gray;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 172px;

  &__item {
    @keyframes fadeIn {
      from {
        opacity: 0.3;
      }
      to {
        opacity: 1;
      }
    }
    &:hover, &:focus {
      animation: fadeIn 1s ease-in 0.5ms alternate;
      path {
        fill: $teal-green;
      }
    }
  }
}