.screen1 {
  background-color: $mint-cream-green;
  padding-top: 93px;
  padding-bottom: 50px;
  @media (max-width: $mobile-bp) {
    padding: 50px 0;
  }

  &__info {
    position: relative;
    text-align: center;
    z-index: 1;
  }

  &__scene {
    will-change: transform;
  }

  &__leaves {
    position: absolute;
    top: -135px;
    left: 0;
    width: 43.5%;
    max-width: 612px;
    z-index: -1;
    @media (max-width: $tablet-bp) {
      top: -125px;
    }
    @media (max-width: $mobile-bp) {
      width: 70%;
      top: -70px;
    }
  }

  &__title {
    @include title;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 637px;
    margin: 0 auto 40px;
    @media (max-width: $mobile-bp) {
      margin: 0 auto 20px;
    }
  }

  &__order {
    @include arrow-link;
  }
}

.advantages {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    margin-top: 15px;
    @media (max-width: $mobile-bp) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    width: 100%;
    max-width: 862px;
    height: 100%;
    @media (max-width: $tablet-big-bp) {
      width: 70%;
    }
    @media (max-width: $mobile-bp) {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  &__list {
    min-width: 250px;
    @media (max-width: $tablet-bp) {
      min-width: unset;
      width: 30%;
    }
    @media (max-width: $mobile-bp) {
      width: fit-content;
      min-width: 50%;
    }
  }

  &__item {
    position: relative;
    background-color: $white;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: calc(33px + 56px + 24px);
    padding-right: 33px;
    margin-bottom: 30px;
    @media (max-width: $tablet-bp) {
      padding-left: calc(17px + 56px + 17px);
      padding-right: 17px;
    }

    &:before {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      width: 56px;
      height: 56px;
      top: 25%;
      left: 33px;
      @media (max-width: $tablet-bp) {
        left: 17px;
      }
    }

    &:nth-child(1):before {
      background-image: url("./assets/img/icon-user.svg");
    }

    &:nth-child(2):before {
      background-image: url("./assets/img/icon-star.svg");
    }

    &:nth-child(3):before {
      background-image: url("./assets/img/icon-items.svg");
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__num {
    display: block;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: $black;
    text-align: center;
    @media (max-width: $tablet-bp) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__type {
    display: block;
    font-weight: 400;
    font-size: inherit;
    line-height: 30px;
    color: $black;
    text-align: center;
  }
}